body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 1px 1px 8px 1px #bbbbbb;
  width: 350px;
  margin: 0 auto;
  margin-top: 5%;
}
.ui {
  margin: 0 auto;
  padding: 20px;
}
